body {
    margin: 0;
	overflow: scroll;
	-ms-overflow-style: none; 
	scrollbar-width: none;
	background-color: rgb(37, 37, 37); 
}
::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
}
#glCanvas{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 10;
}